<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="menu.css">
</head>
<body>
  <h1>Menu</h1>
  {{#each menuItems}}
    <div>
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <p>Price: Rs.{{price}}</p>
      <img src="{{image}}" alt="{{name}} image">
      <form action="/cart" method="Post">
        <input type="hidden" name="itemId" value="{{_id}}">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" value="1" min="1">
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  {{/each}}
</body>
</html>